.full-screen-mode-btn {
	position: fixed;
	z-index: 10000;
	padding: 0;
	background: none;
	cursor: pointer;
	outline: none;
	border: none;
	transition: opacity 0.75s ease;
}
.full-screen-mode-svg {
	display: block;
	height: auto;
}
.full-screen-mode-svg path {
	transform-box: view-box;
	transform-origin: 12px 12px;
	fill: none;
	transition: .15s;
}
.full-screen-mode-btn:hover path:nth-child(1), .full-screen-mode-btn:focus path:nth-child(1) {
	transform: translate(-2px, -2px);
}
.full-screen-mode-btn:hover path:nth-child(2), .full-screen-mode-btn:focus path:nth-child(2) {
	transform: translate(2px, -2px);
}
.full-screen-mode-btn:hover path:nth-child(3), .full-screen-mode-btn:focus path:nth-child(3) {
	transform: translate(2px, 2px);
}
.full-screen-mode-btn:hover path:nth-child(4), .full-screen-mode-btn:focus path:nth-child(4) {
	transform: translate(-2px, 2px);
}
.full-screen-mode-btn:not(.on) .icon-fullscreen-leave {
	display: none;
}
.full-screen-mode-btn.on .icon-fullscreen-enter {
	display: none;
}
.full-screen-mode-btn.dim {
	opacity: 0.3;
}