<button class="js-full-screen-mode-btn full-screen-mode-btn" aria-label="Enter fullscreen mode" hidden style="{{ full_screen_mode_data.btn_class }}">
   <svg class="full-screen-mode-svg" width="28" height="28" viewBox="-2 -2 28 28" style="{{ full_screen_mode_data.svg_css }}">
      <g class="icon-fullscreen-enter">
         <path style="{{ full_screen_mode_data.path_css }};" d="M 2 9 v -7 h 7" />
         <path style="{{ full_screen_mode_data.path_css }};" d="M 22 9 v -7 h -7" />
         <path style="{{ full_screen_mode_data.path_css }};" d="M 22 15 v 7 h -7" />
         <path style="{{ full_screen_mode_data.path_css }};" d="M 2 15 v 7 h 7" />
      </g>
      <g class="icon-fullscreen-leave">
         <path style="{{ full_screen_mode_data.path_css }};" d="M 24 17 h -7 v 7" />
         <path style="{{ full_screen_mode_data.path_css }};" d="M 0 17 h 7 v 7" />
         <path style="{{ full_screen_mode_data.path_css }};" d="M 0 7 h 7 v -7" />
         <path style="{{ full_screen_mode_data.path_css }};" d="M 24 7 h -7 v -7" />
      </g>
   </svg>
</button>